p{
    font-size: 150%;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.navbar {
    background-color: #343a40;
}
footer {
    background-color: #343a40; /* Same color as navbar */
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #343a40;
}

.content {
    min-height: 80vh;
}


